name: Build book

on:
  push:
    branches-ignore:
      - gh-pages
  release:
    types:
      - created

jobs:
  build-mdbook:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mdbook-version: ['0.4.45', '0.5.1', 'latest']
    steps:
      - name: Install mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: ${{ matrix.mdbook-version }}

      - name: Checkout source
        uses: actions/checkout@v4

      - name: Build book
        run: mdbook build

      - name: Upload html-book artifact
        if: matrix.mdbook-version == 'latest'
        uses: actions/upload-artifact@v4
        with:
          name: book
          path: book

  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: build-mdbook
    runs-on: ubuntu-latest
    steps:
      - name: Download book artifact
        uses: actions/download-artifact@v4
        with:
          name: book
          path: public

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

